<%# For show page!!! %>
<div class="container border p-0 rounded d-flex cards">
  <%= image_tag movie.poster_url, style: "height: 300px" %>
  <div class='d-flex flex-column pt-2 ps-2'>
    <h4><%= movie.title.capitalize%></h4>
    <p class='my-2 flex-fill'>⭐️<%= movie.rating.round(1) %></p>
    <p class='mt-4'> <em>--<%= bookmark.comment.capitalize %></em></p>
    <%= link_to "Delete this movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-dark mb-2 shadow-sm border text-white text-decoration-none' %>
  </div>

</div>
